<div style="background-color: LightGray">
	<h2 align="center">Register as Customer </h2>
	<%= render 'signup_form', data: @customer %>
	<h5 style="margin-top: 10px;" align="center"><%= link_to 'Already signup , log in ' , login_path%></h5>
</div>