<div style=" background-color:lightgray; cover; height: 800px;">
  <h1 align="center" style="color: black;">Gomato Food Platform</h1>
  <div style="">
  	<h3 style="padding: 10px; " align="center"> <%= link_to 'Sign Up ' , new_path, style: "background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; display: inline-block;" %> </h3>
  	<h3 style="padding: 10px; " align="center"> <%= link_to ' Sign in', login_path, style: "background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; display: inline-block;" %> </h3>
  </div>

</div>