<div style=" background-color:lightgray; cover; height: 800px;">
  <h1 align="center" style="color: black;">Gomato Food Platform</h1>
  <div style="">
  	<h3 style="padding: 10px; " align="center"> <%= link_to 'Sign Up as Owner' , home_owner_path %> </h3>
  	<h3 style="padding: 10px; " align="center"> <%= link_to 'Sign Up as Customer', home_customer_path %> </h3>
  	<h3 style="padding: 10px; " align="center"> <%= link_to 'Already a user, Sign in', login_path %> </h3>
  </div>

</div>