<div style="">
  <h1 align="center">Zomato Food Platform</h1>
  <div style="background-color: LightGray;">
  	<h3 style="padding: 10px; " align="center"> <%= link_to 'Sign Up as Owner' , home_owner_path %> </h3>
  	<h3 style="padding: 10px; " align="center"> <%= link_to 'Sign Up as Customer', home_customer_path %> </h3>
  	<h3 style="padding: 10px; " align="center"> <%= link_to 'Already a user, Sign in', login_path %> </h3>
  </div>
</div>